.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image:url('https://th.bing.com/th/id/R.f4af00c61f60e4ca9487f7ad536dd0e6?rik=%2bfCpX3u0MSthRQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f92r6xWU.jpg&ehk=3xXbcuUb0DBoXcr2YXGG04YDZfB7R3L0ASo0iAZahWE%3d&risl=&pid=ImgRaw&r=0') 
}
